@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Work+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Open Sans", sans-serif;
    width: 1080px;
    margin: 0 auto;
    background-color: #222;
    color: #fff;
    font-size: 13px;
}

a {
    color: #F47519;
    text-decoration: none;
    cursor: pointer;
}

.sold {
    color: red;
}
